[submodule "third_party/Megatron-LM-0.4.0"]
	path = third_party/Megatron-LM-0.4.0
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "third_party/Megatron-LM-0.9.0"]
	path = third_party/Megatron-LM-0.9.0
	url = https://github.com/NVIDIA/Megatron-LM.git
